<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      asadnakade.co.in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/asad.jpg" alt="asad-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>asadnakade.co.in</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      asadnakade.co.in is an amazing blog which made by Asad Abdulaziz Nakade aka HUSTLR himself, he's a passionate coder who's pursuaing final year BTech Computer Science in Sanjay Ghodawat University.
    </ion-card-content>
  </ion-card>
</ion-content>
