<ion-header>
  <ion-toolbar>
    <ion-title>login - asadnakade.co.in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="assets/asadlogu.jpg" alt="asad-logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>asadnakade.co.in</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="logMeIn()">LOGIN</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
